@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', cursive;
    color: #323232;
    border: none;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover; 
}

#login {
    background-color: #aaa;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 13vh;
    border-radius: 10px;
    text-align: center;
}

#cadastrar {
    background-color: #aaa;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: -56vh;
    border-radius: 10px;
    text-align: center;
}

#form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
    background: #aaa;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #0855;
}

.botaoLog {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #0857;
    color: #323232;
    cursor: pointer;
}

.botaoCad {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    color: #323232;
    background-color: #096bb1;
    cursor: pointer;
}