<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleVideos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="js/scriptVideos.js">
    </script>
    <title>Index</title>
</head>
<body>
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a id="nav-bar" class="nav-link active" href="videos.html">Videos</a>
            </li>
            <li class="nav-item">
              <a id="nav-bar" class="nav-link" onclick="sair()">Sair</a>
            </li>
          </ul>
    </nav>

    <div class="videos">
        <section class="video-section">
            <article class="video-container">

                <a href="video1.html" class="thumbnail" data-duration="12:24">
                    <img class="thumbail-image" src="img/video1.png" alt="">
                </a>

                <div class="video-bottom-section">

                    <div class="video-details">
                        <a href="video1.html" class="video-title">O que é Eletricidade</a>
                    </div>

                </div>
            </article>

            <article class="video-container">

                <a href="video2.html" class="thumbnail" data-duration="12:24">
                    <img class="thumbail-image" src="img/video2.png" alt="">
                </a>

                <div class="video-bottom-section">

                    <div class="video-details">
                        <a href="video2.html" class="video-title">O que é Tensão Elétrica</a>
                    </div>

                </div>
            </article>

            <article class="video-container">

                <a href="video3.html" class="thumbnail" data-duration="12:24">
                    <img class="thumbail-image" src="img/video3.png" alt="">
                </a>

                <div class="video-bottom-section">

                    <div class="video-details">
                        <a href="video3.html" class="video-title">O que é Potência Elétrica</a>
                    </div>

                </div>
            </article>

            <article class="video-container">

                <a href="video4.html" class="thumbnail" data-duration="12:24">
                    <img class="thumbail-image" src="img/video4.png" alt="">
                </a>

                <div class="video-bottom-section">

                    <div class="video-details">
                        <a href="video4.html" class="video-title">O que é aterramento</a>
                    </div>

                </div>
            </article>

            <article class="video-container">

                <a href="video5.html" class="thumbnail" data-duration="12:24">
                    <img class="thumbail-image" src="img/video5.png" alt="">
                </a>

                <div class="video-bottom-section">

                    <div class="video-details">
                        <a href="video5.html" class="video-title">O que é Resistência Elétrica</a>
                    </div>

                </div>
            </article>

            <article class="video-container">

                <a href="video6.html" class="thumbnail" data-duration="12:24">
                    <img class="thumbail-image" src="img/video6.png" alt="">
                </a>

                <div class="video-bottom-section">

                    <div class="video-details">
                        <a href="video6.html" class="video-title">Qual a diferença entre corrente continua e alternada</a>
                    </div>

                </div>
            </article>

            <article class="video-container">

                <a href="video7.html" class="thumbnail" data-duration="12:24">
                    <img class="thumbail-image" src="img/video7.png" alt="">
                </a>

                <div class="video-bottom-section">

                    <div class="video-details">
                        <a href="video7.html" class="video-title">O que é corrente elétrica</a>
                    </div>

                </div>
            </article>

            <article class="video-container">

                <a href="video8.html" class="thumbnail" data-duration="12:24">
                    <img class="thumbail-image" src="img/video8.png" alt="">
                </a>

                <div class="video-bottom-section">

                    <div class="video-details">
                        <a href="video8.html" class="video-title">O que é Voltagem</a>
                    </div>

                </div>
            </article>

            <article class="video-container">

                <a href="video9.html" class="thumbnail" data-duration="12:24">
                    <img class="thumbail-image" src="img/video9.png" alt="">
                </a>

                <div class="video-bottom-section">

                    <div class="video-details">
                        <a href="video9.html" class="video-title">O que é Amperagem</a>
                    </div>

                </div>
            </article>

            <article class="video-container">

                <a href="video10.html" class="thumbnail" data-duration="12:24">
                    <img class="thumbail-image" src="img/video10.png" alt="">
                </a>

                <div class="video-bottom-section">

                    <div class="video-details">
                        <a href="video10.html" class="video-title">O que é Eletricidade Estática</a>
                    </div>

                </div>
            </article>

        </section>
    </div>
</body>
</html>